/** World Database by Zachary Thomas, mystyle.css */
html{
    font-family: Arial;
}

#profileImg{
    float: right;
}

#pop {
    text-align: right;
}

#officialLang{
    font-weight: bold;
    color: red;
}

.table {
    border: black;
}

tr:nth-child(even) {
    background: beige}

tr:nth-child(odd) {
    background: lightcyan}

table {
    margin-left: auto;
    margin-right: auto;
}

th{
    color: lightcyan;
    background: darkslategrey;
}